

.gif-search-Container{
    padding: 7px;
    position: absolute;
    right: -510px;
    max-width: 490px;
    top: 0px;
    background: white;
    
    border-radius: 5px;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    animation: growDown 100ms ease-in-out forwards;
        transform-origin: top to-upper-case($string: "") ;
    .imgs{
        max-height: 211px;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
    }
    input{
        border-radius: 27px
    }
}
@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    80% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
  }
