.createPost{
    background: #C2C3C5;
    height: 12px;
    width: 487px;
    display: flex;
 
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    padding: 14px;
    border-radius: 4px;
}