.postForm{
    width: 28%;
    background: yellow;
    padding: 13px;
    border-radius: 4px;
    margin-top: 6px;
    
    input{
        
    height: 32px;
    width: 486px;
    outline: none;
    border: none;
    margin-bottom: 10px;


    }
    .buttons{
        justify-content: space-around;
    display: flex;
}
    }

    .none{
        display: none;
    }


