.post{
    
    
    border-radius: 4px;
    
    padding: 10px;
    background: wheat;
    background: magenta;
    margin-top: 8px;

    p{
        // margin-top: 6px;
    font-size: 19px;
    // margin-bottom: 2px;
    // margin-left: 5px;
    max-width: 509px;
    margin: 4px;

    }
    img{
        margin: 4px;
        
    width: 489px;
    height: 300px;
    border-radius: 4px;

        
    

    }

}